*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  list-style: none;
  text-decoration: none;
}
a{
  color: inherit;
}
@font-face {
    font-family: Genbas;
    src: url("../font/GenBasBI.ttf");
}
@font-face {
    font-family: GenbasB;
    src: url("../font/GenBasB.ttf");
}
@font-face {
    font-family: LatoReg;
    src: url("../font/Lato-Regular.ttf");
}
@font-face {
    font-family: LatoSB;
    src: url("../font/Lato-Semibold.ttf");
}
@font-face {
    font-family: Nexa;
    src: url("../font/Nexa Light_0.otf");
}
$bgwhite: #fefefe;
$fontblk: #000000;
$sidebar-width: 150px;
.blkonwhite{
  background-color: $bgwhite;
  color: $fontblk;
}
.centeredmargin{
  margin: 0px auto 0px auto;
}
.whiteonblk{
  color: $bgwhite;
  background-color: $fontblk;
}
.button{
  @extend .blkonwhite;
  border: none;
  padding: 10px 15px;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.button:hover{
  @extend .whiteonblk;
  background-color: darken($bgwhite, 80%);
}
// init-vars
//side-nav
.side-nav{
  left: -200px;
  height: 100vh;
  width: $sidebar-width;
  background-color: $bgwhite;
  position: fixed;
  z-index: -1;
  text-align: center;
  padding: 10px 0px 0px 0px;
  transition: all .5s ease;
}
.side-nav-container{
  margin-left: 25px;
}
.nav-logo{
  width: 80px;
  img{
    width: 80px
  }
}
.mobile-close-handle{
  text-align: left;
  font-family: nexa;
  font-size: 35px;
  transform: scaleX(1.1);
  padding-left: 10px;
}
.nav-menu{
  margin: auto;
  padding-top: 40px;
  text-align: left;
  font-size: 16px;
  li{
    padding: 10px 0px 15px;
    border-bottom: 1px solid $bgwhite;
    transition: all .2s ease;
    font-size: 12px;
  }
  li:hover{
    border-bottom: 1px solid black;
  }
}
.footer{
  position: absolute;
  bottom: 50px;
  width: 100%;
  ul{
    padding-left: 10px;
    text-align: left;
  }
  li{
    display: inline-block;
    padding-right: 20px;
  }
  .nav-copyright{
    padding-top: 20px;
    font-size: 9px;
    margin: auto;
    width: 90px;
    line-height: 15px;
    position: relative;
    left: -24px;
  }
}
.nav-logo{
  display: none;
}
//side-nav
//sub-menu
.sub-menu{
  color: white;
  background-color: rgba(0, 0, 0, 1);
  width: 150px;
  height: 100vh;
  left: 150px;
  top: 0px;
  position: fixed;
  z-index: 5;
  opacity: 1;
  cursor: default;
}

.has-submenu::after{
  content: ">";
  font-family: Latoreg;
  padding-left: 20px;
}
.sub-menu-logo-container{
  height: 45px;
  width: 45px;
  margin: 40px auto 20px;
  background-image: url(../img/icon/submenu-logo-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s cubic-bezier(0, 1.02, 0.29, 1.23)
}
.sub-menu-header{
  width: 45px;
  margin: 10px auto 30px;
  font-size: 13px;
}
.products-submenu{
  margin: 10px auto;
  width: 100px;
  text-align: center;
  li{
    text-decoration: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    color: grey;
    cursor: pointer;
  }
  li:hover{
    color: white;
    border-bottom: 1px solid black;
  }
}
//mobile-navbar
.mobile-navbar{
  height: 100px;
  background-color: white;
  width: 100vw;
  position: fixed;
  z-index: 2;
  transition: all .1s ease-in;
  height: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.mobile-navbar-logo{
  height: 100%;
  width: 70px;
  margin: auto;
  left: 50%;
  top: 5px;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  position: absolute;
  background-image: url(../img/icon/hok-main-logo.png);
  background-size: contain;
  transition: all .1s ease-in;
  width: 50px;
  padding: 5px;
}
.mobile-handle{
  width: 35px;
  margin: 15px;
  position: absolute;
}
.mobile-handle-lines{
  border: 2px solid black;
  width: 35px;
  border-radius: 50px;
  margin: 6px auto;
}
//mobile-navbar
//sub-menu
.home-banner{
  background-color: black;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/index/index-banner.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
}
.about-banner{
  @extend .home-banner;
  background-image: url("../img/about/about-banner.png");
}
.news-banner{
  @extend .home-banner;
  background-image: url("../img/news/news-banner.jpg");
}
.back-to-top{
  height: 40px;
  width: 40px;
  background-color: grey;
  letter-spacing: 1.5px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  font-family: LatoReg;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 10px;
  padding-top: 10px;
  opacity: 0.5;
  transition: all .3s ease;
  cursor: pointer;
  .down-arrow{
    line-height: 5px;
    width: auto;
    position: relative;
  }
}
.back-to-top:hover{
  opacity: 1;
  @extend .whiteonblk;
}
//content-template
.content-container{
  @extend .centeredmargin;
  background-color: $bgwhite;
  position: relative;
  padding-bottom: 100px;
  width: 90vw;
  margin-bottom: 50px;
  top: 90vh;
}
.content-header-hint{
  text-align: center;
  font-size: 12px;
  height: 80px;
  padding: 20px;
  text-transform: uppercase;
  font-family: Nexa;
  letter-spacing: 1.5px;
}
.down-arrow{
  transform: rotate(90deg);
  font-family: Nexa;
  font-size: 15px;
  font-weight: bold;
  width: 50px;
  margin: auto;
}
//home-content
.home-content{
  width: 90vw;
  margin: 10px auto;
}
.home-message{
  font-family: Genbas;
  font-size: 30px;
  margin: 20px auto;
  width: 80vw;
}
.home-paragraph{
  line-height: 35px;
  margin-top: 50px;
  font-family: LatoReg;
  color: $fontblk;;
  font-size: 13px;
  line-height: 25px;
  width: 80vw;
  margin: 100px auto;
  text-align: center;
}
.home-discover{
  font-family: Genbas;
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
  width: 110px;
  margin: 150px auto 0px;
}
.vertical-line{
  width: 150px;
  border: 1px solid black;
  margin: auto;
  transform: rotate(90deg);
  margin-top: 130px;
  margin-bottom: 130px;
}
.home-products-slider{
  padding: 50px 0px;
  .home-products-item{
    outline: none;
    img{
      width: auto;
      height: 300px;
      margin: 10px 75px;
      outline: none;
    }
  }
}
.home-left-bloom{
  background-image: url(../img/index/mobile-left-bloom.png);
  left: -10px;
  width: 167px;
  height: 289px;
  position: absolute;
  background-repeat: no-repeat;
  top: 37%;
  transform: scale(0.9);
}
.home-discover, .vertical-line{
  opacity: 0.2;
  position: relative;
  top: 250px;
  transition: all .3s ease-in;
}
.home-right-bloom{
  background-image: url(../img/index/mobile-right-bloom.png);
  right: -10px;
  width: 130px;
  height: 252px;
  position: absolute;
  background-repeat: no-repeat;
  top: 100px;
  transform: scale(0.9);
}
.home-right-bloom, .home-left-bloom{
  transition: all .4s ease;
  opacity: 0;
}
//aboutpage
.banner-text{
  margin: 0px auto 0px auto;
  color: white;
  width: 300px;
  position: relative;
  top: 37vh;
  text-align: center;
  transition: all .8s cubic-bezier(0, 0.66, 0.49, 1.05);
}
.banner-text-title{
  font-family: GenBas;
  font-size: 28px;
  font-style: italic;
}
.banner-text-paragraph{
  font-size: 9px;
  color: rgb(170, 170, 170);
}
.about-content{
  .about-message{
    @extend .home-message;
    text-align: center;
  }
  .vertical-line{
    opacity: 1;
    top: 0;
  }
  .about-paragraph{
    @extend .home-paragraph;
    text-align: left;
    width: 300px;
    margin: auto;
  }
  .about-banner-1{
    margin-top: 50px;
    background-image: url(../img/about/about-content-1.jpg);
    width: 100%;
    height: 60vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-section{
    margin: 20px auto;
    height: 1300px;
    width: 80vw;
    .about-section-left{
      background-color: white;
      position: relative;
      .about-content-left{
        background-image: url("../img/about/about-content-2.jpg");
        background-repeat: no-repeat;
        height: 250px;
        margin-top: 130px;
        background-size: contain;
        position: absolute;
        top: 250px;
        width: 200px;
        opacity: 0.2;
      }
      .about-message-left{
        @extend .home-message;
        width: 80%;
        text-align: left;
      }
      .about-paragraph-left{
        @extend .home-paragraph;
        margin: 20px auto;
        width: 80vw;
        text-align: center;
      }
    }
    .about-section-right{
      background-color: white;
      margin-top: 200px;
      .about-message-right{
        @extend .home-message;
        text-align: left;
        width: 80%;
      }
      .about-paragraph-right{
        @extend .home-paragraph;
        margin: 20px auto 0px;
        width: 80vw;
        text-align: center;
      }
      .about-content-right{
        background-image: url("../img/about/about-content-3.jpg");
        background-repeat: no-repeat;
        height: 250px;
        background-size: contain;
        background-position: right;
      }
    }
  }
}
//aboutpage
//newspage
.news-button{
  @extend .button;
  margin: 10px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}
.news-panel-list{
}
.news-panel-list:after {
   content: "";
   display: block;
   height: 0;
   clear: both;
}
.news-panel{
  background-color: black;
  margin: 10px;
  display: block;
  vertical-align: top;
  text-align: center;
  margin: 10px auto 0px;
}
.news-panel:hover .news-panel-hover{
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  height: 90%;
  width: 90%;
}
.news-panel-hover{
  height: 100%;
  opacity: 0;
  width: 100%;
  transition: all .3s ease;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 13%;
  .news-date{
    color: black;
  }
}
.onextwo{
  @extend .news-panel;
  width: 280px;
  height: 200px;
  clear: both;
  background-color: rgb(88, 161, 214);
}
.onexone{
  @extend .news-panel;
  width: 280px;
  height: 200px;
  background-color: rgb(124, 25, 126);
}
.twoxtwo{
  @extend .news-panel;
  width: 280px;
  height: 200px;
  background-color: rgb(88, 179, 46);
}
//newspage
//news-detail-page
.news-content{
  height: 100%;
  @extend .home-content;
}
.news-title{
  @extend .home-message;
  font-family: Genbas;
  font-size: 25px;
  margin: 10px auto;
  width: 80%;
}
.news-date{
  @extend .banner-text-paragraph;
  font-family: sans;
  color: grey;
  padding-top: 10px;
}
.news-paragraph{
  @extend .home-paragraph;

  img{
    width: 250px;
    display: block;
    margin: auto;
  }
}
//news-detail-page
//product-page
.product-header-tab{
  @extend .whiteonblk;
  text-align: center;
}
.product-tabs{
  font-family: LatoSB;
  font-size: 14px;
  padding: 25px 0;
  li{

    text-transform: uppercase;
    padding: 25px 10px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .3s ease;
  }
  .product-tabs-highlighted{
    @extend .blkonwhite;
    box-shadow: 0px 0px 5px #000;
    border-radius: 1px;
  }
  li:hover{
    @extend .blkonwhite;
  }
}
.product-adapter{
  width: 280px;
  height: 400px;
  border: 1px solid grey;
  margin: 20px auto;
  display: block;
  position: relative;
}
.product-adapter-title{
  border-bottom: 1px solid black;
  padding: 10px 15px;
  font-family: Genbas;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.product-adapter-description{
  font-family: LatoReg;
  color: #555555;
  font-size: 14px;
  letter-spacing: 1px;
}
.product-adapter-img{
  width: 100%;
  height: 85%;
  background-color: #333;
}
.product-hover-tint{
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  height: 90%;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  transition: all .3s ease-out;
  text-align: center;
  padding: 150px 0px;
  font-family: Genbas;
  font-size: 24px;
}
.product-adapter:hover .product-hover-tint{
  background-color: rgba(255, 255, 255, .7);
  opacity: 1;
  top: 50px;
  height: 90%;
  width: 100%;
}
//product-page
//contact
.contact-banner{
  @extend .home-banner;
  background-image: url("../img/contact/contact-gmaps.png");
}
.contact-content {
  @extend .home-content;
  margin: 50px auto;
}
.contact-message{
  @extend .home-message;
  text-align: center;
  .contact-message-lv2{
    font-size: 12px;
    font-style: normal;
    color: grey;
    letter-spacing: 1.5px;
  }
}
.contact-left-right-container{
  margin-top: 100px;
}
.contact-left-right-container::after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.contact-inputs-left{
  width: 80vw;
  margin: auto;
}
.input-titles{
  font-family: Genbas;
  margin: 15px 0px;
  color: #333;
}
.full-inputs{
  display: block;
  width: 80vw;
  margin: 10px 0px;
  height: 35px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  outline: none;
  padding: 10px 10px 0px 10px;
  max-width: 80vw;
  max-height: 35px;
  resize: none;
}
.tall-inputs{
  @extend .full-inputs;
  height: 200px;
  max-height: 200px;
}
.contact-button{
  @extend .button;
  @extend .whiteonblk;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
}
.contact-informations-div-right{
  padding: 5px;
}
.contact-info-module{
  width: 250px;
  margin: 30px auto;
}
.contact-info-title{
  font-family: GenbasB;
  padding-bottom: 15px;
  letter-spacing: 1px;
}
.contact-info-title:after{
  content: "";
  height: 10px;
  display: block;
  width: 50px;
  border-bottom: 2px solid black;
}
.contact-info-desc{
  font-family: Genbas;
  color: #222;
  font-size: 14px;
  line-height: 23px;
}
.contact-sosmed{

  img{
    padding-right: 10px;
    margin: auto;
  }
  li{
    padding: 5px;
  }
  span{
    float: right;
    padding-right: 40px;
  }

}
//contact
//jquery
.jquery-banner-text{
  opacity: 0;

}
.jquery-whiteonblk{
  color: white;
  background-color: black;
}
.jquery-right-bloom{
  opacity: 1;
  right: 0px;
  transform: scale(1);
}
.jquery-left-bloom{
  opacity: 1;
  left: 0px;
  transform: scale(1);
}
.jquery-discover{
  opacity: 1;
  top: 90px;
}
.jquery-side-nav{
  left: 0px;
  z-index: 3;
}
.jquery-side-nav::after{
  content: "";
  width: 100vw;
  color: grey;
  background-color: black;
  opacity: 0.8;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  margin-left: 150px;
}
.jquery-mobile-handle{
  display: none;
}
.jquery-mobile-nav{
  top: -200px;
  transition: all 1s ease;
}
.jquery-mobile-nav-scroll{
  height: 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.jquery-mobile-nav-logo{
  width: 50px;
  padding: 5px;
}
//jquery
@media screen and (min-width: 900px) {
  .product-tabs{
    font-family: LatoSB;
    font-size: 14px;
    padding: 25px 0;
    li{
      display: inline;
    }
  }
  .product-adapter {
    width: 280px;
    height: 400px;
    border: 1px solid grey;
    margin: 20px 12px;
    display: inline-block;
    position: relative;
}


}
@media screen and (min-width: 700px){
  .onextwo, .onexone, .twoxtwo{
    width: 420px;
    height: 300px;
  }
}
